PhiansLaboratory1/phians_laboratory/Service References/MESINTERFACE/MES_INTERFACE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GET_MESINFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WORKID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_MESINFOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_MESINFOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_MESINFO2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WORKID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pagesize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="order" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortby" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_MESINFO2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_MESINFO2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_MESINFO1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WORKID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_MESINFO1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_MESINFO1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GET_MESINFOSoapIn">
    <wsdl:part name="parameters" element="tns:GET_MESINFO" />
  </wsdl:message>
  <wsdl:message name="GET_MESINFOSoapOut">
    <wsdl:part name="parameters" element="tns:GET_MESINFOResponse" />
  </wsdl:message>
  <wsdl:message name="GET_MESINFO2SoapIn">
    <wsdl:part name="parameters" element="tns:GET_MESINFO2" />
  </wsdl:message>
  <wsdl:message name="GET_MESINFO2SoapOut">
    <wsdl:part name="parameters" element="tns:GET_MESINFO2Response" />
  </wsdl:message>
  <wsdl:message name="GET_MESINFO1SoapIn">
    <wsdl:part name="parameters" element="tns:GET_MESINFO1" />
  </wsdl:message>
  <wsdl:message name="GET_MESINFO1SoapOut">
    <wsdl:part name="parameters" element="tns:GET_MESINFO1Response" />
  </wsdl:message>
  <wsdl:portType name="MES_INTERFACESoap">
    <wsdl:operation name="GET_MESINFO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取MES信息</wsdl:documentation>
      <wsdl:input message="tns:GET_MESINFOSoapIn" />
      <wsdl:output message="tns:GET_MESINFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_MESINFO2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取MES信息 模糊获取</wsdl:documentation>
      <wsdl:input message="tns:GET_MESINFO2SoapIn" />
      <wsdl:output message="tns:GET_MESINFO2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_MESINFO1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取MES信息</wsdl:documentation>
      <wsdl:input message="tns:GET_MESINFO1SoapIn" />
      <wsdl:output message="tns:GET_MESINFO1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MES_INTERFACESoap" type="tns:MES_INTERFACESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_MESINFO">
      <soap:operation soapAction="http://tempuri.org/GET_MESINFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_MESINFO2">
      <soap:operation soapAction="http://tempuri.org/GET_MESINFO2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_MESINFO1">
      <soap:operation soapAction="http://tempuri.org/GET_MESINFO1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MES_INTERFACESoap12" type="tns:MES_INTERFACESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_MESINFO">
      <soap12:operation soapAction="http://tempuri.org/GET_MESINFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_MESINFO2">
      <soap12:operation soapAction="http://tempuri.org/GET_MESINFO2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_MESINFO1">
      <soap12:operation soapAction="http://tempuri.org/GET_MESINFO1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MES_INTERFACE">
    <wsdl:port name="MES_INTERFACESoap" binding="tns:MES_INTERFACESoap">
      <soap:address location="http://localhost:43473/MES_INTERFACE.asmx" />
    </wsdl:port>
    <wsdl:port name="MES_INTERFACESoap12" binding="tns:MES_INTERFACESoap12">
      <soap12:address location="http://localhost:43473/MES_INTERFACE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>