PhiansLaboratory1/phians_laboratory/Service References/get_interface/phians_webservice_N1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientele" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_infoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_infoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderNUM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JobNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderNUMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderNUMResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getmethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LZKH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VORNR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetmethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetmethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhysicsInfo_">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Inspection_NO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhysicsInfo_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhysicsInfo_Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testParameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fmName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testParametersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_infoSoapIn">
    <wsdl:part name="parameters" element="tns:get_info" />
  </wsdl:message>
  <wsdl:message name="get_infoSoapOut">
    <wsdl:part name="parameters" element="tns:get_infoResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderNUMSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderNUM" />
  </wsdl:message>
  <wsdl:message name="GetOrderNUMSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderNUMResponse" />
  </wsdl:message>
  <wsdl:message name="GetmethodSoapIn">
    <wsdl:part name="parameters" element="tns:Getmethod" />
  </wsdl:message>
  <wsdl:message name="GetmethodSoapOut">
    <wsdl:part name="parameters" element="tns:GetmethodResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhysicsInfo_SoapIn">
    <wsdl:part name="parameters" element="tns:GetPhysicsInfo_" />
  </wsdl:message>
  <wsdl:message name="GetPhysicsInfo_SoapOut">
    <wsdl:part name="parameters" element="tns:GetPhysicsInfo_Response" />
  </wsdl:message>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="testParametersSoapIn">
    <wsdl:part name="parameters" element="tns:testParameters" />
  </wsdl:message>
  <wsdl:message name="testParametersSoapOut">
    <wsdl:part name="parameters" element="tns:testParametersResponse" />
  </wsdl:message>
  <wsdl:portType name="phians_webservice_N1Soap">
    <wsdl:operation name="get_info">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取入库检定</wsdl:documentation>
      <wsdl:input message="tns:get_infoSoapIn" />
      <wsdl:output message="tns:get_infoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderNUM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据工号查订单号</wsdl:documentation>
      <wsdl:input message="tns:GetOrderNUMSoapIn" />
      <wsdl:output message="tns:GetOrderNUMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getmethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据流转卡号和工序号查方法</wsdl:documentation>
      <wsdl:input message="tns:GetmethodSoapIn" />
      <wsdl:output message="tns:GetmethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhysicsInfo_">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检验单号获取委托信息</wsdl:documentation>
      <wsdl:input message="tns:GetPhysicsInfo_SoapIn" />
      <wsdl:output message="tns:GetPhysicsInfo_SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试使用</wsdl:documentation>
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testParameters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试获取元素</wsdl:documentation>
      <wsdl:input message="tns:testParametersSoapIn" />
      <wsdl:output message="tns:testParametersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="phians_webservice_N1Soap" type="tns:phians_webservice_N1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_info">
      <soap:operation soapAction="http://tempuri.org/get_info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderNUM">
      <soap:operation soapAction="http://tempuri.org/GetOrderNUM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getmethod">
      <soap:operation soapAction="http://tempuri.org/Getmethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhysicsInfo_">
      <soap:operation soapAction="http://tempuri.org/GetPhysicsInfo_" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="http://tempuri.org/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testParameters">
      <soap:operation soapAction="http://tempuri.org/testParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="phians_webservice_N1Soap12" type="tns:phians_webservice_N1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_info">
      <soap12:operation soapAction="http://tempuri.org/get_info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderNUM">
      <soap12:operation soapAction="http://tempuri.org/GetOrderNUM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getmethod">
      <soap12:operation soapAction="http://tempuri.org/Getmethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhysicsInfo_">
      <soap12:operation soapAction="http://tempuri.org/GetPhysicsInfo_" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://tempuri.org/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testParameters">
      <soap12:operation soapAction="http://tempuri.org/testParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="phians_webservice_N1">
    <wsdl:port name="phians_webservice_N1Soap" binding="tns:phians_webservice_N1Soap">
      <soap:address location="http://localhost:48151/phians_webservice_N1.asmx" />
    </wsdl:port>
    <wsdl:port name="phians_webservice_N1Soap12" binding="tns:phians_webservice_N1Soap12">
      <soap12:address location="http://localhost:48151/phians_webservice_N1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>